<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wonder Wallet</title>

     <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">
    
    <!-- - animate text css - -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!---Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   <script src="http://code.highcharts.com/highcharts.js"></script>
  
     <!--- Date Range Picker -->

      <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>

<body>

      <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
         <div class="container">
         <div class="container example2">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div id="logo">
                <i class="fa fa-google-wallet animated fadeInRightBig" aria-hidden="true"></i>onder <br> &nbsp; &nbsp; <i class="fa fa-google-wallet animated fadeInRightBig" aria-hidden="true"></i>allet
              </div>
              </div>
              <div id="navbar2" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                <i class="fi-lightbulb"></i>
                  <!-- <li class="active"><a href="/dashboard">Dashboard</a></li> -->
                  <li><a href="insights">Insights</a></li>
                  <li><a href="#">Contact</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
          </nav>
</div>
     <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            <i class="fa fa-dashboard"></i> Insights: <%=user%>
                             <!-- <small>Overview</small> -->
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
               <h2>
                  <div class="alert alert-success">             
                    <div class="row" id = "summary">
                        <div class="col-lg-12" >
  
                            <div class = "col-lg-1" >
                            <i class="fa fa-money" aria-hidden="true"></i>
                            </div>
                            <div class = "col-lg-3" >
                            Total Income
                            </div>
                            <div class = "col-lg-1">-
                             </div>
                            <div class = "col-lg-3">  Total Expenses
                            </div>
                           <div class = "col-lg-1">=
                           </div>
                           <div class = "col-lg-3">Bottom Line
                            </div>
                        </div>
                      </div>
                  <div class="row" id = "summary">
                    <div class="col-lg-12" >
                            <div class = "col-lg-3 col-lg-offset-1 text-center" id = "income">
                             </div>
                             <div class = "col-lg-1">-
                             </div>
                             <div class = "col-lg-3 text-center" id = "expenses">  
                            </div>
                            <div class = "col-lg-1">=
                           </div>
                           <div class = "col-lg-3 text-center" id = "bottom">
                            </div>
                        </div>
                      </div>
                      </div>
                    </h2>
                 <!-- /.row - end of summary-->
                 <!-- /.row -->  

               <div class="row">             
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                        <div class="panel-heading"> <h3 class="panel-title">
                                  Expenses by Account
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div id="barChart">
                                          </div>
                                <div class="text-right">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <div class="btn-group btn-group-justified" role="group" aria-label="timeframe">
                                    <div class="col-lg-1
                                    ">
                                      <div class="btn-group" role="group">
                                        <button type="button" id = "one" class="btn btn-default text-center active" aria-pressed="true">1mo</button>
                                      </div>
                                    </div>
                                    <div class="col-lg-1">
                                      <div class="btn-group" role="group">
                                        <button type="button" id = "two" class="btn btn-default">2mo</button>
                                      </div>
                                    </div>
                                    <div class="col-lg-1">
                                      <div class="btn-group" id = "three" role="group">
                                        <button type="button" class="btn btn-default">3mo</button>
                                      </div>
                                    </div>
                                   <div class="col-lg-3">
                                       <div class="btn-group" id = "range" role="group">
                                      <!--   <button type="button" class="btn btn-default">1yr</button> -->
                                      <!-- </div> -->
                                       <input class="pull-right btn btn-default" type="text" name="daterange" />
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="pieChart">
                                          </div>
                                <div class="text-right">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!-- /.row -->
                <div class = "row">
                    <div class="col-lg-12 panel <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Order #</th>
                                                <th>Order Date</th>
                                                <th>Order Time</th>
                                                <th>Amount (USD)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3326</td>
                                                <td>10/21/2013</td>
                                                <td>3:29 PM</td>
                                                <td>$321.33</td>
                                            </tr>
                                            <tr>
                                                <td>3325</td>
                                                <td>10/21/2013</td>
                                                <td>3:20 PM</td>
                                                <td>$234.34</td>
                                            </tr>
                                            <tr>
                                                <td>3324</td>
                                                <td>10/21/2013</td>
                                                <td>3:03 PM</td>
                                                <td>$724.17</td>
                                            </tr>
                                            <tr>
                                                <td>3323</td>
                                                <td>10/21/2013</td>
                                                <td>3:00 PM</td>
                                                <td>$23.71</td>
                                            </tr>
                                            <tr>
                                                <td>3322</td>
                                                <td>10/21/2013</td>
                                                <td>2:49 PM</td>
                                                <td>$8345.23</td>
                                            </tr>
                                            <tr>
                                                <td>3321</td>
                                                <td>10/21/2013</td>
                                                <td>2:23 PM</td>
                                                <td>$245.12</td>
                                            </tr>
                                            <tr>
                                                <td>3320</td>
                                                <td>10/21/2013</td>
                                                <td>2:15 PM</td>
                                                <td>$5663.54</td>
                                            </tr>
                                            <tr>
                                                <td>3319</td>
                                                <td>10/21/2013</td>
                                                <td>2:13 PM</td>
                                                <td>$943.45</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
    
                    </div>
                </div>

                   <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
 

    <!-- Bootstrap Core JavaScript -->


    <!-- Morris Charts JavaScript -->
<!--     <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script> -->
<!--     <script src="js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="../data/flot-data.js"></script>
    <script src="js/plugins/flot/jquery.flot.js"></script>
    <script src="js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script> -->
</body>
<!-- <script src="https://code.jquery.com/jquery-3.1.1.js"></script> -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript">

// push month digits into an array for display on x axis for barchart
function pushMo(monthToAdd, repeat, monthArr){
     for (var i = repeat; i > 0; i-- ){
          monthArr.push(monthToAdd);
          console.log("line 255 " + monthToAdd + " " + monthArr);
          monthToAdd++;
        }
}


function getAvg(avgArr, inputArr){
    var avg = 0;
    for (var i = 0; i < inputArr.length; i++){
         avg += inputArr[i];
    }

    avg = avg/inputArr.length;
     for (var i = 0; i < inputArr.length; i++){
         avgArr.push(avg);
    }   
}


function barchart(){
    var d = new Date();
    var currentMo = d.getMonth() + 1;
    var monthArr = [];
    var checking = [6,7,5,8,6,7];
    var  creditcard = [4,3,5,2,3,4];
    var avgArr = [];
    var bardata = [];
    var monthlyexp = [];
    var i = 1;

        if (currentMo<6) {
        pushMo(12 - 6 + currentMo + 1, 6 - currentMo, monthArr);
        pushMo(1, currentMo, monthArr);
    } else {
        // the current month is later than April so push 6 months from the current year
        pushMo(currentMo - 6 + 1, 6, monthArr);       
    }
    // establish an array to store chart colors
   var colors =[];
 <% account.forEach(function(account) { %>
  var name = '<%=account.name%>';
  var total = [<%=account.data%>];
  console.log(name);
  console.log(total);
   bardata.push(
          {
            type: 'column',
            name: name,
            data: total,
            color: colors[i]
        });
        i++;
  
    <% }); %>
  
 
   bardata.push({
        type: 'spline',
        name: 'Average Expenses',
        data: 2000,
        // data: avgArr,
        marker: {
            enabled: false,
            lineWidth: 2,
            lineColor: Highcharts.getOptions().colors[0],
            fillColor: 'black'
        }
      });
      console.log(JSON.stringify(bardata));
    // Populate the array with the last 6 months to be displayed on x-axis
    // if the current month is April or earlier, push months from previous years first and then push current years months

   // use Highcharts to display bar chart with expenses and income
  Highcharts.chart('barChart', {
  title: {
        text: 'Expenses'
    },
    colors: ['black', '#cbf390', '#b0c0d6', '#f7a35c'],
    xAxis: {
        categories: monthArr
    },
    labels: {
        items: [{
            // html: 'Total fruit consumption',
            style: {
                left: '50px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    plotOptions: {
                column: {
                    pointPadding: -.2,
                    borderWidth: 0
                }
            },
    series: bardata
}); 
}

function getPieData(){
  var piedata = [];
  <% categories.forEach(function(categories) { %>
    var name =  '<%=categories.name%>';
    var total = <%=categories.total%>;
   piedata.push(
          {
            name: name,
            y: total
            
        });
      
    <% }); %>

      return piedata;
}


function piechart(){
    var pieData = getPieData();
    console.log(pieData);
  Highcharts.chart('pieChart', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            marginRight: 200

        },
        // title: {
        //     text: 'Browser market shares January, 2015 to May, 2015'
        // },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },

        legend: {
            align: 'right',
            verticalAlign: 'right',
            layout: 'vertical',
            x: -20,
            y: 50,
            marker: {
                symbol: 'square',
                radius : 12
            //     symbolHeight: 12,
            //     symbolWidth: 12,
            //     symbolRadius: 6
            },
            itemStyle: {
                 fontSize: '12px',
                 font: 'Trebuchet MS, Verdana, sans-serif'
              }
        },
        series: [{
            name: 'Expenses',
            colorByPoint: true,
            data: pieData
        }]
    });
}

function displayNet(){
    var netInc = 5000;
    var netExp = 3450;
    var net =   netInc - netExp;
    
    
    $('#income').append("$" + netInc);
    $('#expenses').append("$" + netExp);
      $('#bottom').append("$" + net);
}

     barchart();
     piechart();
     displayNet();


   $(function() {
          $('input[name="daterange"]').daterangepicker();
      });


</script>
</html>
